<app-menu></app-menu>
<div class="container">
    <form id="idFormTesis" [formGroup]="formsRegistra" >


    <div class="row">
        <mat-toolbar color="primary">    
            <span>Registrar Tesis</span>    
        </mat-toolbar>  
    </div>

    <div class="row" style="margin-top: 3%">
        <mat-form-field class="col-md-6">
            <mat-label>Título</mat-label>
            <input matInput [(ngModel)]="objTesis.titulo" formControlName="validaTitulo">

            <mat-hint style="color: red"  *ngIf="formsRegistra.controls.validaTitulo.touched">
                <span *ngIf="formsRegistra.controls.validaTitulo.hasError('required')">
                    El Título es requerido
                </span>
                <span *ngIf="formsRegistra.controls.validaTitulo.hasError('pattern')">
                    El Título es de 5 a 45 caracteres                        

                </span>
          </mat-hint>



        </mat-form-field>
        
        <mat-form-field class="col-md-6">
            <mat-label>Fecha de Creación</mat-label>
            <input matInput [matDatepicker]="picker" [(ngModel)]="objTesis.fechaCreacion" formControlName="validafechaCreacion" readonly [min]="minDate">
            <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
            <mat-hint style="color: red" *ngIf="formsRegistra.controls.validafechaCreacion.touched">
                <span *ngIf="formsRegistra.controls.validafechaCreacion.hasError('required')">
                    La fecha de creación es requerida
                </span>
            </mat-hint>
        </mat-form-field>
    </div>


        

    <!-- Listado tema -->
    <div class="row">
        <mat-form-field class="col-md-4">
            <mat-label>Tema</mat-label>
            <mat-select [(ngModel)]="objTesis.tema!.idDataCatalogo" formControlName="validaTema">
                <mat-option value="-1">[Seleccione]</mat-option>
                <mat-option *ngFor="let x of lstTema" [value]="x.idDataCatalogo">
                    {{x.descripcion}}
                </mat-option>
            </mat-select> 
            <mat-hint style="color: red"  *ngIf="formsRegistra.controls.validaTema.touched">
                <span *ngIf="formsRegistra.controls.validaTema.hasError('min')">
                    El Tema es requerido                        
                </span>
            </mat-hint>

        </mat-form-field>
    


        <!-- Listado Idioma -->
        <mat-form-field class="col-md-4">
            <mat-label>Idioma</mat-label>
            <mat-select [(ngModel)]="objTesis.idioma!.idDataCatalogo" formControlName="validaIdioma">
                <mat-option value="-1">[Seleccione]</mat-option>
                <mat-option *ngFor="let y of lstIdioma" [value]="y.idDataCatalogo">
                    {{y.descripcion}}
                </mat-option>
            </mat-select> 


            <mat-hint style="color: red"  *ngIf="formsRegistra.controls.validaIdioma.touched">
                <span *ngIf="formsRegistra.controls.validaIdioma.hasError('min')">
                    El Idioma es requerido                        
                </span>
            </mat-hint>


        </mat-form-field>
        



<!-- -----s -->
        <!-- Listado Centro de estudios -->
        <mat-form-field class="col-md-4">
            <mat-label>Centro de estudios</mat-label>
            <mat-select [(ngModel)]="objTesis.centroEstudios!.idDataCatalogo" formControlName="validaCentroEstudios">
                <mat-option value="-1">[Seleccione]</mat-option>
                <mat-option *ngFor="let p of lstCentroEstudios" [value]="p.idDataCatalogo">
                    {{p.descripcion}}
                </mat-option>
            </mat-select> 


            <mat-hint style="color: red"  *ngIf="formsRegistra.controls.validaCentroEstudios.touched">
                <span *ngIf="formsRegistra.controls.validaCentroEstudios.hasError('min')">
                    El Centro de estudios es requerido                        
                </span>
            </mat-hint>
        </mat-form-field>


        
    </div>

   



    <div class="row justify-content-center">
        <button mat-raised-button type="submit"  [disabled]="formsRegistra.invalid" color="primary" (click)="registra()">Registra</button>
      </div>
</form>
</div>
