.mat-column-idAutor {
    flex: 0 0 6%;
}
.mat-column-nombres {
    flex: 0 0 7%;
}
.mat-column-apellidos {
    flex: 0 0 7%;
}
.mat-column-fechaNacimiento {
    flex: 0 0 10%;
}
.mat-column-telefono {
    flex: 0 0 9%;
}
.mat-column-celular {
    flex: 0 0 9%;
}
.mat-column-orcid {
    flex: 0 0 16%;
}
.mat-column-pais {
    flex: 0 0 8%;
}
.mat-column-grado {
    flex: 0 0 6%;
}
.mat-column-acciones {
    flex: 0 0 16%;
}
button {
    margin: 0 10px;
}