<app-menu></app-menu>
<div class="container">

    <div class="row">
        <mat-toolbar color="primary" >    
        <span>Crud Sala</span>    
        </mat-toolbar>  
    </div>
    <div  class="row"  style="margin-top: 3%">
        <mat-form-field class="col-md-4">
            <mat-label>Número de Sala</mat-label>
            <input  matInput [(ngModel)]="filtro">
        </mat-form-field>

        <button mat-raised-button class="btn" type="button"  color="primary" style="width: 150px;" (click)="refreshTable()">Filtrar</button>
        <button mat-raised-button class="btn" type="button" color="primary" style="width: 150px;" (click)="openAddDialog()">Registrar</button>
    </div>
    <div  class="row"  style="margin-top: 3%">

        <mat-table #table class="mat-cell" [dataSource]="dataSource">
                <ng-container matColumnDef="idSala">
                    <mat-header-cell mat-header-cell *matHeaderCellDef>Código</mat-header-cell>
                    <mat-cell *matCellDef="let aux">{{ aux.idSala }}</mat-cell>
                </ng-container>
                <ng-container matColumnDef="numero">
                    <mat-header-cell mat-header-cell *matHeaderCellDef>Número</mat-header-cell>
                    <mat-cell *matCellDef="let aux">{{ aux.numero }}</mat-cell>
                </ng-container>
                <ng-container matColumnDef="piso">
                    <mat-header-cell mat-header-cell *matHeaderCellDef>Piso</mat-header-cell>
                    <mat-cell *matCellDef="let aux">{{ aux.piso }}</mat-cell>
                </ng-container>
                <ng-container matColumnDef="numAlumnos">
                    <mat-header-cell mat-header-cell *matHeaderCellDef>Número Alumnos</mat-header-cell>
                    <mat-cell *matCellDef="let aux">{{ aux.numAlumnos }}</mat-cell>
                </ng-container>
                <ng-container matColumnDef="recursos">
                    <mat-header-cell mat-header-cell *matHeaderCellDef>Recursos</mat-header-cell>
                    <mat-cell *matCellDef="let aux">{{ aux.recursos }}</mat-cell>
                </ng-container>
                <ng-container matColumnDef="tipoSala">
                    <mat-header-cell mat-header-cell *matHeaderCellDef>Tipo Sala</mat-header-cell>
                    <mat-cell *matCellDef="let aux">{{ aux.tipoSala.descripcion }}</mat-cell>
                </ng-container>
                <ng-container matColumnDef="sede">
                    <mat-header-cell mat-header-cell *matHeaderCellDef>Sede</mat-header-cell>
                    <mat-cell *matCellDef="let aux">{{ aux.sede.descripcion }}</mat-cell>
                </ng-container>
                <ng-container matColumnDef="estadoReserva">
                    <mat-header-cell mat-header-cell *matHeaderCellDef>Estado Reserva</mat-header-cell>
                    <mat-cell *matCellDef="let aux">{{ aux.estadoReserva.descripcion }}</mat-cell>
                </ng-container>
                <ng-container matColumnDef="estado">
                    <mat-header-cell mat-header-cell *matHeaderCellDef>Estado</mat-header-cell>
                    <mat-cell *matCellDef="let aux">{{ aux.estado == 1 ? "Activo" : "Inactivo" }}</mat-cell>
                </ng-container>

                <ng-container matColumnDef="acciones">
                     <mat-header-cell  mat-header-cell *matHeaderCellDef >&nbsp;</mat-header-cell>
    
                     <mat-cell *matCellDef="let aux; let i=index;">
                            
                     <div class="custom-control custom-switch">
                        <input type="checkbox" class="custom-control-input" 
                                id="idEstado_{{ aux.idSala }}" name="estado" 
                                [checked]="aux.estado==1?true:false" 
                                (change)="actualizaEstado(aux)"  />         
                        <label class="custom-control-label" for="idEstado_{{ aux.idSala}}"></label>
                     </div>   
    
                        <button mat-icon-button color="accent"  (click)="openUpdateDialog(aux)">
                                <mat-icon aria-label="Edit">edit</mat-icon>
                        </button>
    
                        <button mat-icon-button color="accent"  (click)="elimina(aux)">
                                <mat-icon aria-label="Delete">delete</mat-icon>
                        </button>
    
                        </mat-cell>
                   </ng-container>
    
         
    
                  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                  <mat-row *matRowDef="let aux; columns: displayedColumns"></mat-row>
              </mat-table>
              <mat-paginator [pageSizeOptions]="[6,8,10]" showFirstLastButtons></mat-paginator>
    
    
    </div>   
    
    </div>