<app-menu></app-menu>
<div class="container mt-5">
    <div class="row">
        <div class="col">
            <mat-toolbar color="primary">
                <span>Consulta Tesis</span>
            </mat-toolbar>
        </div>
    </div>

    <div class="row mt-4">
        <div class="col-md-4">
            <mat-form-field class="w-100">
                <mat-label>Titulo de revista</mat-label>
                <input matInput [(ngModel)]="varTitulo">
            </mat-form-field>
        </div>
        <div class="col-md-4">
            <mat-form-field class="w-100">
                <mat-label>Fecha de Creación (Desde)</mat-label>
                <mat-hint>MM/DD/YYYY</mat-hint>
                <input matInput [matDatepicker]="picker1" [(ngModel)]="varFechaCreacionDesde" [min]="minDate">
                <mat-datepicker-toggle matIconSuffix [for]="picker1"></mat-datepicker-toggle>
                <mat-datepicker #picker1></mat-datepicker>
            </mat-form-field>
        </div>
        <div class="col-md-4">
            <mat-form-field class="w-100">
                <mat-label>Fecha de Creación (Hasta)</mat-label>
                <mat-hint>MM/DD/YYYY</mat-hint>
                <input matInput [matDatepicker]="picker2" [(ngModel)]="varFechaCreacionHasta" [min]="minDate">
                <mat-datepicker-toggle matIconSuffix [for]="picker2"></mat-datepicker-toggle>
                <mat-datepicker #picker2></mat-datepicker>
            </mat-form-field>
        </div>
    </div>

    <div class="row" style="margin-top: 3%">
        <div class="col-md-2" style="display: flex; align-items: center; justify-content: center">
            <div class="custom-control custom-switch">
                <input type="checkbox" class="custom-control-input" id="idEstado" name="estado" [(ngModel)]="varEstado"/>
                <label class="custom-control-label" for="idEstado">Estado</label>
            </div>
        </div>

        <div class="col-md-3">
            <mat-form-field class="w-100">
                <mat-label>Tema</mat-label>
                <mat-select [(ngModel)]="varIdTema">
                    <mat-option value="-1">[Todos]</mat-option>
                    <mat-option *ngFor="let y of lstTema" [value]="y.idDataCatalogo">
                        {{y.descripcion}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div class="col-md-3">
            <mat-form-field class="w-100">
                <mat-label>Idioma</mat-label>
                <mat-select [(ngModel)]="varIdIdioma">
                    <mat-option value="-1">[Todos]</mat-option>
                    <mat-option *ngFor="let y of lstIdioma" [value]="y.idDataCatalogo">
                        {{y.descripcion}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div class="col-md-4">
            <mat-form-field class="w-100">
                <mat-label>Centro de Estudios</mat-label>
                <mat-select [(ngModel)]="varIdCentroEstudios">
                    <mat-option value="-1">[Todos]</mat-option>
                    <mat-option *ngFor="let y of lstCentroEstudios" [value]="y.idDataCatalogo">
                        {{y.descripcion}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
    </div>

    <div class="row mt-4 d-flex justify-content-center">
        <div class="col-auto">
            <button mat-raised-button type="button" color="primary" class="w-100" (click)="filtrar()">Filtrar</button>
        </div>
        <div class="col-auto">
            <button mat-raised-button type="submit" color="warn" class="w-100" (click)="exportarPDF()">PDF</button>
        </div>
        <div class="col-auto">
            <button mat-raised-button type="submit" color="accent" class="w-100" (click)="exportarExcel()">XLS</button>
        </div>
    </div>

    <div class="row mt-4">
        <div class="col">
            <mat-table #table class="mat-elevation-z8" [dataSource]="dataSource" [ngClass]="{'active-table': varEstado && hayActivos}">
                <ng-container matColumnDef="idTesis">
                    <mat-header-cell *matHeaderCellDef class="table-header">Código</mat-header-cell>
                    <mat-cell *matCellDef="let aux">{{ aux.idTesis }}</mat-cell>
                </ng-container>
                <ng-container matColumnDef="titulo">
                    <mat-header-cell *matHeaderCellDef class="table-header">Título</mat-header-cell>
                    <mat-cell *matCellDef="let aux">{{ aux.titulo }}</mat-cell>
                </ng-container>
                <ng-container matColumnDef="fechaCreacion">
                    <mat-header-cell *matHeaderCellDef class="table-header">Fecha Creación</mat-header-cell>
                    <mat-cell *matCellDef="let aux">{{ aux.fechaCreacion | date: 'dd/MM/yyyy' }}</mat-cell>
                </ng-container>
                <ng-container matColumnDef="estado">
                    <mat-header-cell *matHeaderCellDef class="table-header">Estado</mat-header-cell>
                    <mat-cell *matCellDef="let aux">{{ aux.estado == 1 ? 'Activo' : 'Inactivo' }}</mat-cell>
                </ng-container>
                <ng-container matColumnDef="tema">
                    <mat-header-cell *matHeaderCellDef class="table-header">Tema</mat-header-cell>
                    <mat-cell *matCellDef="let aux">{{ aux.tema.descripcion }}</mat-cell>
                </ng-container>
                <ng-container matColumnDef="idioma">
                    <mat-header-cell *matHeaderCellDef class="table-header">Idioma</mat-header-cell>
                    <mat-cell *matCellDef="let aux">{{ aux.idioma.descripcion }}</mat-cell>
                </ng-container>
                <ng-container matColumnDef="centroEstudios">
                    <mat-header-cell *matHeaderCellDef class="table-header">Centro Estudios</mat-header-cell>
                    <mat-cell *matCellDef="let aux">{{ aux.centroEstudios.descripcion }}</mat-cell>
                </ng-container>

                <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                <mat-row *matRowDef="let aux; columns: displayedColumns"></mat-row>
            </mat-table>
            <mat-paginator [pageSizeOptions]="[6, 8, 10]" showFirstLastButtons></mat-paginator>
        </div>
    </div>
</div>