<!-- Agregar este enlace en la sección <head> de tu HTML -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

    <div class="contenedor">
        <div class="circle circle-1"></div>
        <div class="circle circle-2"></div>
    
        <div class="card">
            <form #f="ngForm" (ngSubmit)="onLogin()" novalidate>
                <div class="card-1">
                    <h1><strong>CIBERTEC</strong></h1>
                    <span class="bienvenido">Bienvenido</span> <!-- Añadido clase 'bienvenido' -->
                </div>
    
                <div class="card-2">
                    <label for="login">Nombre de usuario:</label>
                    <input placeholder="Escriba su nombre de usuario" type="text" name="login" id="login" class="control" [(ngModel)]="loginUsuario.login" required>
                </div>
    
                <div class="card-2">
                    <label for="password">Contraseña:</label>
                    <div class="password-container">
                        <input placeholder="Escriba su contraseña" type="password" name="password" id="password" class="control" [(ngModel)]="loginUsuario.password" required>
                        <i class="fa fa-eye" id="togglePassword" onclick="togglePassword()" style="cursor: pointer;"></i> <!-- Icono de ojo -->
                    </div>
                </div>
    
                <div class="card-4">
                    <button [disabled]="!f.valid">
                        Ingresar
                    </button>
                </div>
            </form>
        </div>
    
        <div class="back-fondo">
            <div class="fondoLogo"></div>
        </div>
    </div>
    