<app-menu></app-menu>
<div class="container">
    <form  class="mat-dialog-content"  id="idFormSala" [formGroup]="formsRegistra" >
        <div class="row">
                <mat-toolbar color="primary" >    
                <span>Registra Sala</span>    
                </mat-toolbar>  
        </div>
        <div  class="row"  style="margin-top: 3%">
                    <mat-form-field class="col-md-4">
                        <mat-label>Número</mat-label>
                        <input  matInput [(ngModel)] ="objSala.numero" formControlName="validaNumero">
                        <mat-hint style="color: red"  *ngIf="formsRegistra.controls.validaNumero.touched">
                            <span *ngIf="formsRegistra.controls.validaNumero.hasError('required')">
                                El número es requerido                        
                            </span>
                            <span *ngIf="formsRegistra.controls.validaNumero.hasError('pattern')">
                                Una letra mayúscula y tres números                        
                            </span>
                            <span *ngIf="formsRegistra.controls.validaNumero.hasError('numeroRepetido')">
                                El número ya existe
                            </span>
                      </mat-hint>
                    </mat-form-field>
                    <mat-form-field class="col-md-4">
                        <mat-label>Piso</mat-label>
                        <input  matInput [(ngModel)] ="objSala.piso" formControlName="validaPiso">
                        <mat-hint style="color: red"  *ngIf="formsRegistra.controls.validaPiso.touched">
                            <span *ngIf="formsRegistra.controls.validaPiso.hasError('required')">
                                El piso es requerido                        
                            </span>
                            <span *ngIf="formsRegistra.controls.validaPiso.hasError('min') || formsRegistra.controls.validaPiso.hasError('max')">
                                El piso debe estar entre 1 y 10
                            </span>
                      </mat-hint>
                    </mat-form-field>
                    <mat-form-field class="col-md-4">
                        <mat-label>Número de Alumnos</mat-label>
                        <input  matInput [(ngModel)] ="objSala.numAlumnos" formControlName="validaNumAlumno">
                        <mat-hint style="color: red"  *ngIf="formsRegistra.controls.validaNumAlumno.touched">
                            <span *ngIf="formsRegistra.controls.validaNumAlumno.hasError('required')">
                                El Número de Alumnos es requerido                        
                            </span>
                            <span *ngIf="formsRegistra.controls.validaNumAlumno.hasError('min') || formsRegistra.controls.validaNumAlumno.hasError('max')">
                                El Número Alumnos debe estar entre 1 y 5
                            </span>
                      </mat-hint>
                    </mat-form-field>
        </div>
        <div class="row"  style="margin-top: 3%">
                    <mat-form-field class="col-md-4">
                        <mat-label>Recursos</mat-label>
                        <input  matInput [(ngModel)] ="objSala.recursos" formControlName="validaRecursos"> 
                        <mat-hint style="color: red"  *ngIf="formsRegistra.controls.validaRecursos.touched">
                            <span *ngIf="formsRegistra.controls.validaRecursos.hasError('required')">
                                El recurso es requerido                        
                            </span>
                            <span *ngIf="formsRegistra.controls.validaRecursos.hasError('pattern')">
                                Tener entre 3 y 60 caracteres, y solo letras
                            </span>
                      </mat-hint>
                    </mat-form-field>
                    <mat-form-field class="col-md-4">
                        <mat-label>Tipo de Sala</mat-label>
                        <mat-select [(ngModel)] ="objSala.tipoSala!.idDataCatalogo" formControlName="validaTipoSala">
                            <mat-option value="-1"> [Seleccione] </mat-option>
                            <mat-option *ngFor="let x of lstTipo" [value]="x.idDataCatalogo">
                                        {{x.descripcion}}
                            </mat-option> 
                        </mat-select> 
                        <mat-hint style="color: red"  *ngIf="formsRegistra.controls.validaTipoSala.touched">
                        <span *ngIf="formsRegistra.controls.validaTipoSala.hasError('min')">
                            Seleccione el Tipo de Sala                             
                        </span>
                    </mat-hint>
                    </mat-form-field> 
                    <mat-form-field class="col-md-4">
                        <mat-label>Sede</mat-label>
                        <mat-select  [(ngModel)] ="objSala.sede!.idDataCatalogo" formControlName="validaSede">
                            <mat-option value="-1"> [Seleccione] </mat-option>
                            <mat-option *ngFor="let y of lstSede" [value]="y.idDataCatalogo">
                                    {{y.descripcion}}
                            </mat-option> 
                        </mat-select> 
                        <mat-hint style="color: red"  *ngIf="formsRegistra.controls.validaSede.touched">
                        <span *ngIf="formsRegistra.controls.validaSede.hasError('min')">
                            Seleccione la Sede                        
                        </span>
                    </mat-hint>
                    </mat-form-field>
        </div>
        <div class="row"  style="margin-top: 3%">
                <mat-form-field class="col-md-4">
                        <mat-label>Estado de Reserva</mat-label>
                        <mat-select  [(ngModel)] ="objSala.estadoReserva!.idDataCatalogo" formControlName="validaEstadoReserva">
                            <mat-option value="-1"> [Seleccione] </mat-option>
                            <mat-option *ngFor="let z of lstEstado" [value]="z.idDataCatalogo">
                                    {{z.descripcion}}
                            </mat-option> 
                        </mat-select> 
                        <mat-hint style="color: red"  *ngIf="formsRegistra.controls.validaEstadoReserva.touched">
                        <span *ngIf="formsRegistra.controls.validaEstadoReserva.hasError('min')">
                            Seleccione el Estado Reserva                        
                        </span>
                    </mat-hint>
                    </mat-form-field>
        </div>
        <div  class="row" style="margin-left: 0.1em;">
            <button mat-raised-button type="submit" [disabled]="formsRegistra.invalid" (click)="registra()" color="primary" >Registra</button>
        </div>
    </form>
</div>