<div class="container">
        <form id="idFormLibro" class="mat-dialog-content" [formGroup]="formActualiza">
                <div class="row">
                        <mat-toolbar color="primary" >    
                        <span>Actualizar Libro</span>    
                        </mat-toolbar>  
                </div>
                <div  class="row"  style="margin-top: 3%">
                            <mat-form-field class="col-md-6">
                                <mat-label>Título</mat-label>
                                <input  matInput [(ngModel)]="objLibro.titulo" formControlName="validaTitulo">
                                <mat-hint style="color: red"  *ngIf="formActualiza.controls.validaTitulo.touched">
                                        <span *ngIf="formActualiza.controls.validaTitulo.hasError('required')">
                                                El título es requerido                        
                                            </span>
                                            <span *ngIf="formActualiza.controls.validaTitulo.hasError('pattern')">
                                                El título es de 3 a 30 caracteres                        
                                            </span>
                                            <!--<span *ngIf="formActualiza.controls.validaTitulo.hasError('tituloRepetido')">
                                                    El Libro ya existe
                                            </span>-->
                                  </mat-hint>
                            </mat-form-field>
                            <mat-form-field class="col-md-6">
                                <mat-label>Año</mat-label>
                                <input type="number"  matInput [(ngModel)]="objLibro.anio" formControlName="validaAnio">
                                <mat-hint style="color: red"  *ngIf="formActualiza.controls.validaAnio.touched">
                                        <span *ngIf="formActualiza.controls.validaAnio.hasError('required')">
                                            El año es requerido                        
                                        </span>
                                        <span *ngIf="formActualiza.controls.validaAnio.hasError('pattern')">
                                            El año es de 4 carateres -                       
                                        </span>
                                        <span *ngIf="formActualiza.controls.validaAnio.hasError('yearRange')">
                                            El año debe encontrarse en el rango de 1800 y el año actual                       
                                        </span>
                                  </mat-hint>
                            </mat-form-field>
                </div>
                <div  class="row">
                        <mat-form-field class="col-md-6">
                            <mat-label>Serie: AAA0000000</mat-label>
                            <input  matInput [(ngModel)]="objLibro.serie"  formControlName="validaSerie">
                            <mat-hint style="color: red"  *ngIf="formActualiza.controls.validaSerie.touched">
                                <span *ngIf="formActualiza.controls.validaSerie.hasError('required')">
                                    La serie es requerida                      
                                </span>
                                <span *ngIf="formActualiza.controls.validaSerie.hasError('pattern')">
                                    La serie es de 10 carateres (3 mayúsculas y 7 números)               
                                </span>
                          </mat-hint>
                        </mat-form-field>
                        <mat-form-field class="col-md-6">
                                <mat-label>Categoría</mat-label>
                                <mat-select [(ngModel)]="objLibro.categoriaLibro!.idDataCatalogo"  formControlName="validaCategoriaLibro">
                                        <mat-option value="-1"> [Seleccione] </mat-option>
                                        <mat-option  *ngFor="let c of lstCategoria"  [value]="c.idDataCatalogo">
                                                {{c.descripcion}}
                                        </mat-option>   
                                </mat-select> 
                                <mat-hint style="color: red"  *ngIf="formActualiza.controls.validaCategoriaLibro.touched">
                                        <span *ngIf="formActualiza.controls.validaCategoriaLibro.hasError('min')">
                                            La Categoría es requerida                        
                                        </span>
                                    </mat-hint>
                        </mat-form-field>
                </div>
                <div  class="row">
                        <mat-form-field class="col-md-6">
                                <mat-label>Tipo</mat-label>
                                <mat-select [(ngModel)]="objLibro.tipoLibro!.idDataCatalogo"  formControlName="validaTipoLibro">
                                        <mat-option value="-1"> [Seleccione] </mat-option>
                                        <mat-option  *ngFor="let t of lstTipo" [value]="t.idDataCatalogo">
                                                {{t.descripcion}}
                                        </mat-option>   
                                </mat-select> 
                                <mat-hint style="color: red"  *ngIf="formActualiza.controls.validaTipoLibro.touched">
                                        <span *ngIf="formActualiza.controls.validaTipoLibro.hasError('min')">
                                            El Tipo es requerido                        
                                        </span>
                                    </mat-hint>
                        </mat-form-field> 
                        <mat-form-field class="col-md-6">
                                <mat-label>Editorial</mat-label>
                                <mat-select [(ngModel)]="objLibro.editorial!.idEditorial"  formControlName="validaEditorial">
                                        <mat-option value="-1"> [Seleccione] </mat-option>
                                        <mat-option  *ngFor="let e of lstEditorial" [value]="e.idEditorial">
                                                {{e.razonSocial}}
                                        </mat-option>   
                                </mat-select> 
                                <mat-hint style="color: red"  *ngIf="formActualiza.controls.validaEditorial.touched">
                                        <span *ngIf="formActualiza.controls.validaEditorial.hasError('min')">
                                            La Editorial es requerido                       
                                        </span>
                                </mat-hint>
                        </mat-form-field>
                </div>

                <!-- Botones de ACCIONES -->
                <div  mat-dialog-actions>
                        <button mat-raised-button type="submit" color="primary" [mat-dialog-close]="1" (click)="actualizar()"[disabled]="formActualiza.invalid">Actualiza</button>
                        <button mat-button type="submit" color="primary"  [mat-dialog-close]="1" (click)="salir()">Salir</button>
                </div>
        </form>
</div>