<div class="container">
    <form  id="idForm" [formGroup]="formsActualiza" >
    <div class="mat-dialog-content" >
                <div class="row">
                        <mat-toolbar color="primary" >    
                        <span>Actualiza Editorial</span>    
                        </mat-toolbar>  
                </div>
                <div  class="row"  style="margin-top: 3%">
                    <mat-form-field class="col-md-4">
                        <mat-label>Razón Social</mat-label>
                        <input  matInput [(ngModel)] ="objEditorial.razonSocial " formControlName="validaRazonSocial">
                        <mat-hint style="color: red"  *ngIf="formsActualiza.controls.validaRazonSocial.touched">
                            <span *ngIf="formsActualiza.controls.validaRazonSocial.hasError('required')">
                                La razón social es requerido                        
                            </span> 
                            <span *ngIf="formsActualiza.controls.validaRazonSocial.hasError('pattern')">
                                La razón social es de 4 a 40 caracteres, solo letras                        
                            </span>
                            <span *ngIf="formsActualiza.controls.validaRazonSocial.hasError('razonSocialRepetido')">
                                La razón social ya existe
                            </span>
                      </mat-hint>
                    </mat-form-field>
                    <mat-form-field class="col-md-4">
                        <mat-label>Dirección</mat-label>
                        <input  matInput [(ngModel)] ="objEditorial.direccion" formControlName="validaDireccion">
                        <mat-hint style="color: red"  *ngIf="formsActualiza.controls.validaDireccion.touched">
                            <span *ngIf="formsActualiza.controls.validaDireccion.hasError('required')">
                                La dirección es requerido                        
                                </span>
                                <span *ngIf="formsActualiza.controls.validaDireccion.hasError('pattern')">
                                La dirección es de 4 a 40 caracteres                        
                                </span>
                      </mat-hint>
                    </mat-form-field>
                    <mat-form-field class="col-md-4">
                        <mat-label>Ruc</mat-label>
                        <input  matInput [(ngModel)] ="objEditorial.ruc" formControlName="validaRuc">
                        <mat-hint style="color: red"  *ngIf="formsActualiza.controls.validaRuc.touched">
                            <span *ngIf="formsActualiza.controls.validaRuc.hasError('required')">
                                El ruc es requerido                        
                                </span>
                                <span *ngIf="formsActualiza.controls.validaRuc.hasError('pattern')">
                                El RUC debe ser único, de 11 dígitos y empezar con 10.               
                                </span>
                                <span *ngIf="formsActualiza.controls.validaRuc.hasError('rucRepetido')">
                                El ruc ya existe
                                </span>
                      </mat-hint>
                    </mat-form-field>
                    
        </div>
        <div class="row"  style="margin-top: 3%">
            <mat-form-field class="col-md-4">
                <mat-label>Gerente</mat-label>
                <input  matInput [(ngModel)] ="objEditorial.gerente" formControlName="validaGerente">
                <mat-hint style="color: red"  *ngIf="formsActualiza.controls.validaGerente.touched">
                    <span *ngIf="formsActualiza.controls.validaGerente.hasError('required')">
                        El nombre del gerente es requerido                        
                        </span>
                        <span *ngIf="formsActualiza.controls.validaGerente.hasError('pattern')">
                        El nombre del gerente es de 4 a 40 caracteres, solo letras                        
                        </span>
              </mat-hint>
            </mat-form-field>
            <mat-form-field class="col-md-4">
                <mat-label>Fecha de Creación</mat-label>
                <input  matInput [(ngModel)] ="objEditorial.fechaCreacion" [matDatepicker]="picker" formControlName="validaFechaCreacion">
                <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
                <mat-hint style="color: red"  *ngIf="formsActualiza.controls.validaFechaCreacion.touched">
                        <span *ngIf="formsActualiza.controls.validaFechaCreacion.hasError('required')">
                        - La fecha de creación es requerido                        
                        </span>
                        <div></div>
                        <span *ngIf="formsActualiza.controls.validaFechaCreacion.hasError('minDate')">
                        - La fecha de creación debe ser a partir del año 1980.
                        </span>
              </mat-hint>
            </mat-form-field>
                    <mat-form-field class="col-md-4">
                        <mat-label>País</mat-label>
                        <mat-select [(ngModel)] ="objEditorial.pais!.idPais" formControlName="validaPais">
                            <mat-option value="-1"> [Seleccione] </mat-option>
                            <mat-option *ngFor="let x of lstPais" [value]="x.idPais">
                                        {{x.nombre}}
                            </mat-option> 
                        </mat-select> 
                        <mat-hint style="color: red"  *ngIf="formsActualiza.controls.validaPais.touched">
                            <span *ngIf="formsActualiza.controls.validaPais.hasError('min')">
                                El País es requerido                        
                            </span>
                        </mat-hint>
                    </mat-form-field> 
                    
        </div>
        <div  mat-dialog-actions>
            <button mat-raised-button 
                    type="submit" 
                    (click) = "actualizar()"
                    color="primary" 
                    [mat-dialog-close]="1"
                    [disabled]="formsActualiza.invalid">
                    Actualiza
            </button>

            <button mat-button 
                            (click) = "salir()"
                            color="primary"
                            [mat-dialog-close]="1">
                            Salir
                    </button>
        </div>
    </div>
</form>
</div>