<app-menu></app-menu>
<div class="container">
    <div class="row">
        <mat-toolbar color="primary">
            <span>Crud Alumno</span>
        </mat-toolbar>
    </div>
    <div class="row" style="margin-top: 3%">
        <mat-form-field class="col-md-4">
            <mat-label>Alumno</mat-label>
            <input matInput [(ngModel)]="filtro">
        </mat-form-field>

        <button class="b" mat-raised-button type="button" color="primary" style="width: 150px;" (click)="refreshTable()">Filtrar</button>
        <button class="b" mat-raised-button type="button" color="primary" style="width: 150px;" (click)="openDialog()">Registrar</button> 
    </div>
    <div class="row" style="margin-top: 3%">
        <mat-table #table class="mat-cell" [dataSource]="dataSource">
            <ng-container matColumnDef="idAlumno">
                <mat-header-cell  *matHeaderCellDef>Código</mat-header-cell>
                <mat-cell *matCellDef="let aux">{{ aux.idAlumno }}</mat-cell>
            </ng-container>

            <ng-container  matColumnDef="nombresApellidos">
                <mat-header-cell *matHeaderCellDef class="custom-header-cell">Alumno</mat-header-cell>
                <mat-cell *matCellDef="let aux">{{ aux.nombres }} {{ aux.apellidos }}</mat-cell>
            </ng-container>

            <ng-container matColumnDef="telefono">
                <mat-header-cell *matHeaderCellDef>Teléfono</mat-header-cell>
                <mat-cell *matCellDef="let aux">{{ aux.telefono }}</mat-cell>
            </ng-container>

            <ng-container matColumnDef="celular">
                <mat-header-cell *matHeaderCellDef>Celular</mat-header-cell>
                <mat-cell *matCellDef="let aux">{{ aux.celular }}</mat-cell>
            </ng-container>

            <ng-container matColumnDef="dni">
                <mat-header-cell *matHeaderCellDef>DNI</mat-header-cell>
                <mat-cell *matCellDef="let aux">{{ aux.dni }}</mat-cell>
            </ng-container>

            <ng-container matColumnDef="correo">
                <mat-header-cell *matHeaderCellDef>Correo</mat-header-cell>
                <mat-cell *matCellDef="let aux">{{ aux.correo }}</mat-cell>
            </ng-container>

            <ng-container matColumnDef="tipoSangre">
                <mat-header-cell *matHeaderCellDef>T. Sangre</mat-header-cell>
                <mat-cell *matCellDef="let aux">{{ aux.tipoSangre }}</mat-cell>
            </ng-container>

            <ng-container matColumnDef="fechaNacimiento">
                <mat-header-cell *matHeaderCellDef>F. Nacimiento</mat-header-cell>
                <mat-cell *matCellDef="let aux">{{ aux.fechaNacimiento | date: "dd/MM/yyyy" }}</mat-cell>
            </ng-container>

            <ng-container matColumnDef="pais">
                <mat-header-cell *matHeaderCellDef>País</mat-header-cell>
                <mat-cell *matCellDef="let aux">{{ aux.pais.nombre }}</mat-cell>
            </ng-container>

            <ng-container matColumnDef="modalidad">
                <mat-header-cell *matHeaderCellDef>Modalidad</mat-header-cell>
                <mat-cell *matCellDef="let aux">{{ aux.modalidad.descripcion }}</mat-cell>
            </ng-container>

            <ng-container matColumnDef="estado">
                <mat-header-cell mat-header-cell *matHeaderCellDef>Estado</mat-header-cell>
                <mat-cell *matCellDef="let aux">{{ aux.estado == 1 ? "Activo" : "Inactivo" }}</mat-cell>
            </ng-container>

            <ng-container matColumnDef="acciones">
                <mat-header-cell *matHeaderCellDef>&nbsp;</mat-header-cell>
                <mat-cell *matCellDef="let aux; let i=index;">
                    <div class="custom-control custom-switch">
                        <input type="checkbox" class="custom-control-input"
                            id="idEstado_{{ aux.idAlumno }}" name="estado"
                            [checked]="aux.estado==1?true:false" (change)="actualizaEstado(aux)"/>
                        <label class="custom-control-label" for="idEstado_{{ aux.idAlumno }}"></label>
                    </div>
                    <button mat-icon-button color="accent" (click)="openUpdateDialog(aux)">
                        <mat-icon aria-label="Edit">edit</mat-icon>
                    </button>
                    <button mat-icon-button color="accent" (click)="elimina(aux)">
                        <mat-icon aria-label="Delete">delete</mat-icon>
                    </button>
                </mat-cell>
            </ng-container>

            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
        </mat-table>
        <mat-paginator [pageSizeOptions]="[6, 8, 10]" showFirstLastButtons></mat-paginator>
    </div>
</div>
