<div class="container">
    <form id="idFormAutor" [formGroup]="formsRegistra">

        <div class="row">
            <mat-toolbar color="primary">
                <span>Registra Autor</span>
            </mat-toolbar>
        </div>
        <!--VALIDACIONES-->
        <div class="row" style="margin-top: 3%;margin-bottom: 3%;"> 
            <mat-form-field class="col-md-4">
                <mat-label>Nombres</mat-label>
                <input matInput [(ngModel)]="objAutor.nombres" formControlName="validaNombres">
                <mat-hint style="color: red" *ngIf="formsRegistra.controls.validaNombres.touched">
                    <span *ngIf="formsRegistra.controls.validaNombres.hasError('required')">
                        Los nombres son requeridos
                    </span>
                    <span *ngIf="formsRegistra.controls.validaNombres.hasError('pattern')">
                        Los nombres son de 4 a 40 carácteres y sin espacios al inicio o al final
                    </span>
                </mat-hint>
            </mat-form-field>

            <mat-form-field class="col-md-4">
                <mat-label>Apellidos</mat-label>
                <input matInput [(ngModel)]="objAutor.apellidos" formControlName="validaApellidos">
                <mat-hint style="color: red" *ngIf="formsRegistra.controls.validaApellidos.touched">
                    <span *ngIf="formsRegistra.controls.validaApellidos.hasError('required')">
                        Los apellidos son requeridos
                    </span>
                    <span *ngIf="formsRegistra.controls.validaApellidos.hasError('pattern')">
                        Los apellidos son de 4 a 40 carácteres y sin espacios al inicio o al final
                    </span>
                </mat-hint>
            </mat-form-field>

            <mat-form-field class="col-md-4">
                <mat-label>Fecha de Nacimiento</mat-label>

                <input matInput [matDatepicker]="picker" [(ngModel)]="objAutor.fechaNacimiento"
                    formControlName="validaFecha">
                <mat-hint style="color: red" *ngIf="formsRegistra.controls.validaFecha.touched">
                    <span *ngIf="formsRegistra.controls.validaFecha.hasError('required')">
                        - La fecha de nacimiento es requerida
                    </span>
                    <br>
                    <span *ngIf="formsRegistra.controls.validaFecha.hasError('mayorDeEdad')">- Debe ser mayor de
                        edad</span>

                </mat-hint>
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
        </div>

        <!--L-->

        <div class="row">
            <mat-form-field class="col-md-4">
                <mat-label>Teléfono: Ej. 800000000</mat-label>
                <input matInput [(ngModel)]="objAutor.telefono" formControlName="validaTelefono">
                <mat-hint style="color: red" *ngIf="formsRegistra.controls.validaTelefono.touched">
                    <span *ngIf="formsRegistra.controls.validaTelefono.hasError('required')">
                        El teléfono es requerido
                    </span>
                    <span *ngIf="formsRegistra.controls.validaTelefono.hasError('pattern')">
                        El teléfono es de 9 dígitos númericos, debe comenzar con 8
                    </span>
                    <span *ngIf="formsRegistra.controls.validaTelefono.hasError('telefonoRepetido')">
                        El teléfono ya existe
                        </span>
                </mat-hint>
            </mat-form-field>

            <mat-form-field class="col-md-4">
                <mat-label>Celular</mat-label>
                <input matInput [(ngModel)]="objAutor.celular" formControlName="validaCelular">
                <mat-hint style="color: red" *ngIf="formsRegistra.controls.validaCelular.touched">
                    <span *ngIf="formsRegistra.controls.validaCelular.hasError('required')">
                        El celular es requerido
                    </span>
                    <span *ngIf="formsRegistra.controls.validaCelular.hasError('pattern')">
                        El celular es de 9 dígitos
                    </span>
                </mat-hint>
            </mat-form-field>

            <mat-form-field class="col-md-4">
                <mat-label>Orcid: Ej. 0000-0000-0000-0000</mat-label>
                <input matInput [(ngModel)]="objAutor.orcid" formControlName="validaOrcid" appOrcidFormat>
                <mat-hint style="color: red" *ngIf="formsRegistra.controls.validaOrcid.touched">
                    <span *ngIf="formsRegistra.controls.validaOrcid.hasError('required')">
                        El orcid es requerido
                    </span>
                    <span *ngIf="formsRegistra.controls.validaOrcid.hasError('pattern')">
                        El orcid es de 16 dígitos, recuerde seguir el formato
                    </span>
                </mat-hint>
            </mat-form-field>

        </div>
        <!---->
        <!--CBOS VALIDADOS-->
        <div class="row" style="margin-top: 3%">
            <mat-form-field class="col-md-4">
                <mat-label>País</mat-label>
                <mat-select [(ngModel)]="objAutor.pais!.idPais" formControlName="validaPais">
                    <mat-option value="-1"> [Seleccione] </mat-option>
                    <mat-option *ngFor="let x of lstPais" [value]="x.idPais">
                        {{x.nombre}}
                    </mat-option>
                </mat-select>
                <mat-hint style="color: red" *ngIf="formsRegistra.controls.validaPais.touched">
                    <span *ngIf="formsRegistra.controls.validaPais.hasError('min')">
                        El país es requerido
                    </span>

                </mat-hint>

            </mat-form-field>
            <!--grado-->

            <mat-form-field class="col-md-4">
                <mat-label>Grado</mat-label>
                <mat-select [(ngModel)]="objAutor.grado!.idDataCatalogo" formControlName="validaGrado">
                    <mat-option value="-1"> [Seleccione] </mat-option>
                    <mat-option *ngFor="let x of lstGrado" [value]="x.idDataCatalogo">
                        {{x.descripcion}}
                    </mat-option>
                </mat-select>
                <mat-hint style="color: red" *ngIf="formsRegistra.controls.validaGrado.touched">
                    <span *ngIf="formsRegistra.controls.validaGrado.hasError('min')">
                        El grado es requerido
                    </span>

                </mat-hint>
            </mat-form-field>
            <!---->
        </div>
        <div mat-dialog-actions style="margin-bottom: 3%;">
            <button mat-raised-button type="submit" [mat-dialog-close]="1" [disabled]="formsRegistra.invalid"
                (click)="registra()" color="primary">Registra</button>
            <button mat-button color="primary" [mat-dialog-close]="1">Salir</button>

        </div>
    </form>
</div>