.mat-column-idAutor {
    flex: 0 0 10%;
}
.mat-column-nombres {
    flex: 0 0 10%;
}
.mat-column-apellidos {
    flex: 0 0 10%;
}
.mat-column-fechaNacimiento {
    flex: 0 0 10%;
}
.mat-column-telefono {
    flex: 0 0 10%;
}
.mat-column-celular{
    flex: 0 0 10%;
}
.mat-column-orcid {
    flex: 0 0 10%;
}
.mat-column-pais {
    flex: 0 0 10%;
}
.mat-column-grado {
    flex: 0 0 10%;
}
.mat-column-estado {
    flex: 0 0 10%;
}

