<body>
        <div class="sidebar">
            <div class="sidebar-header">
                <h1><strong>CIBERTEC</strong></h1>
                <br>
            </div>
            <ul class="sidebar-menu">
                <li *ngIf="!isLogged">
                    <a class="nav-link"  routerLink="/login"><i class="fas fa-sign-in-alt"></i> Iniciar Sesión</a>
                </li>
                <li *ngIf="isLogged" (click)="onLogOut()">
                    <a class="nav-link" style="cursor: pointer;"><i class="fas fa-door-open" ></i> Cerrar Sesión</a>
                </li>
            </ul>
        </div>
        <div class="sidebar" *ngIf="isLogged">
            <div class="sidebar-header">
                <h1><strong>CIBERTEC</strong></h1>
                <br>
                <div class="profile-picture">
                    <img src="src/assets/login_img/user_1.jpg" alt="Foto de perfil">
                </div>
                <h6 class="username">{{nombreUsuario}}</h6>
            </div>
            <ul class="sidebar-menu" *ngIf="isLogged">
                <li><a href="">Inicio</a></li>
                <li><a href="verRegistroIngreso">Ingresos</a></li>
                <li><a href="verRegistroSalida">Salidas</a></li>
                <li><a href="verGestionPlazasEspacios">Espacio de Parqueo</a></li>
                <li><a href="verGestionIncidencias">Incidencias</a></li>
                <li *ngIf="isLogged" (click)="onLogOut()"><a href="verRegistraIngreso">Cerrar sesión</a></li>
            </ul>
        </div>

</body>



