<div class="main-container">
    <app-menu></app-menu>
    <div class="content">
        <div class="container">
            <form id="idFormIngreso" [formGroup]="formRegistra">
                <div class="row">
                    <mat-toolbar style="background-color: #15395A; color: white;">
                        <h1>REGISTRO DE INGRESO DE VEHÍCULOS</h1>
                    </mat-toolbar>
                </div>
                <div class="row">
                    <mat-toolbar>
                        <h2>Datos del propietario</h2>
                    </mat-toolbar>
                </div>
                <div class="col-md-20" style="margin: 0 5%;">
                    <div class="row">

                        

                        <div class="inputContent">
                            <h3>1. DNI/Documento:</h3>
                            <mat-form-field class="col-md-6">
                                <mat-label>Ingrese el número de documento</mat-label>
                                <input matInput [(ngModel)]="varDni" formControlName="validaDni">
                                <mat-hint style="color: red" *ngIf="formRegistra.controls.validaDni.touched">
                                    <span *ngIf="formRegistra.controls.validaDni.hasError('required')">
                                        El número de documento es requerido para buscar al usuario
                                    </span>
                                    <span *ngIf="formRegistra.controls.validaDni.hasError('pattern')">
                                        El formato sólo acepta números
                                    </span>
                                    <span *ngIf="formRegistra.controls.validaDni.hasError('minlength')">
                                        El número de documento debe tener 8 dígitos como mínimo
                                    </span>
                                </mat-hint>
                            </mat-form-field>

                            <div class="col-md-4">
                                <button mat-raised-button type="button" color="primary" style="margin: 0 4%;" (click)="buscarPorDni()" [disabled]="formRegistra.controls.validaDni.invalid">Buscar</button>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="inputContent">
                            <h3>2. Nombres: </h3>
                            <mat-form-field class="col-md-9">
                                <input matInput formControlName="nombres" [disabled]="!habilitarRegistrar">
                            </mat-form-field>
                        </div>
                    </div>

                    <div class="row">
                        <div class="inputContent">
                            <h3>3. Apellidos: </h3>
                            <mat-form-field class="col-md-9">
                                <input matInput formControlName="apellidos" [disabled]="!habilitarRegistrar">
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="row">
                        <div class="inputContent col-md-12" style="display: flex; align-items: center; justify-content: center;">
                            <div class="custom-control custom-switch col-md-5" style="margin-left: 46%;">
                                <input type="checkbox" class="custom-control-input" id="idEstado" name="estado" />
                                <label class="custom-control-label" for="idEstado">¿Requiere estacionamiento para discapacitado?</label>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <mat-toolbar>
                        <h2>Datos del vehículo</h2>
                    </mat-toolbar>
                </div>
                <div class="col-md-10" style="margin: 0 5%;">

                    <div class="row">
                        <div class="inputContent">
                            <h3>5. Tipo: </h3>
                            <mat-form-field class="col-md-5">
                                <mat-label>Tipo vehículo</mat-label>
                                <mat-select formControlName="validaTipoVehiculo">
                                    <mat-option value="-1">[Seleccione el tipo de vehículo]</mat-option>
                                    <mat-option value="4 ruedas">Auto, camioneta, (4 ruedas)</mat-option>
                                    <mat-option value="Motocicleta">Motocicleta</mat-option>
                                </mat-select>
                                <mat-hint style="color: red" *ngIf="formRegistra.controls.validaTipoVehiculo.touched">
                                    <span *ngIf="formRegistra.controls.validaTipoVehiculo.hasError('min')">
                                        El tipo de vehículo es requerido
                                    </span>
                                </mat-hint>
                            </mat-form-field>

                            <h3>6. Placa: </h3>
                            <mat-form-field class="col-md-4">
                                <mat-label>Placa: AA-1234 o AA-12345</mat-label>
                                <input matInput formControlName="validaPlaca">
                                <mat-hint style="color: red" *ngIf="formRegistra.controls.validaPlaca.touched">
                                    <span *ngIf="formRegistra.controls.validaPlaca.hasError('required')">
                                        La placa es requerida
                                    </span>
                                    <span *ngIf="formRegistra.controls.validaPlaca.hasError('pattern')">
                                        El formato requerido es AA-1234 o AA-12345
                                    </span>
                                </mat-hint>
                            </mat-form-field>
                        </div>
                    </div>
                </div>

                <div class="row btnEnd">
                    <button mat-raised-button type="button" color="primary" (click)="limpiarFormulario()">Cancelar</button>
                    <button mat-raised-button type="button" color="primary" (click)="registrarDatos()" [disabled]="formRegistra.invalid">Registrar</button>
                </div>

            </form>
        </div>
    </div>
</div>
