<div class="container">
    <form id="idFormAlumno" [formGroup]="formsActualizaCrud"  >
        <div class="row">
            <mat-toolbar color="primary">
                <span>Actualizar Alumno</span>
            </mat-toolbar>
        </div>
        <div class="row" style="margin-top: 3%">
            <mat-form-field class="col-md-4"  [ngClass]="{'campo-error': NombreExistente}">
                <mat-label>Nombres</mat-label>
                <input matInput [(ngModel)]="objAlumno.nombres" [formControlName]="'validaNombre'">
                <mat-hint style="color: red" *ngIf="formsActualizaCrud.controls['validaNombre'].touched">
                    <span *ngIf="formsActualizaCrud.controls['validaNombre'].hasError('required')">
                        El nombre es requerido
                    </span>
                    <span *ngIf="formsActualizaCrud.controls['validaNombre'].hasError('pattern')">
                        El nombre no es válido.
                    </span>
                    <span *ngIf="formsActualizaCrud.controls['validaNombre'].hasError('NombreExistente')">
                        La Nombre ya existe.
                    </span>

                </mat-hint>
            </mat-form-field>


            <mat-form-field class="col-md-4">
                <mat-label>Apellidos</mat-label>
                <input matInput [(ngModel)]="objAlumno.apellidos" [formControlName]="'validaApellido'">
                <mat-hint style="color: red" *ngIf="formsActualizaCrud.controls['validaApellido'].touched">
                    <span *ngIf="formsActualizaCrud.controls['validaApellido'].hasError('required')">
                        El apellido es requerido
                    </span>
                    <span *ngIf="formsActualizaCrud.controls['validaApellido'].hasError('pattern')">
                        El apellido no es válido.
                    </span>
                         </mat-hint>
            </mat-form-field>


            <mat-form-field class="col-md-4">
                <mat-label>Fecha de Nacimiento</mat-label>
                <input matInput [matDatepicker]="picker" [(ngModel)]="objAlumno.fechaNacimiento" formControlName="validaFecha">
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
                <mat-hint style="color: red" *ngIf="formsActualizaCrud.controls['validaFecha'].touched">
                    <span *ngIf="formsActualizaCrud.controls['validaFecha'].hasError('required')">
                        La fecha de nacimiento es requerida
                    </span>
                    <span
                        *ngIf="!formsActualizaCrud.controls['validaFecha'].hasError('required') && formsActualizaCrud.controls['validaFecha'].hasError('mayorDeEdad')">
                        El alumno debe ser mayor de edad
                    </span>
                </mat-hint>
            </mat-form-field>


        </div>

        <div class="row" style="margin-top: 3%">

            <mat-form-field class="col-md-4" [ngClass]="{'campo-error': TelefonoExistente}">
                <mat-label>Teléfono</mat-label>
                <input matInput [(ngModel)]="objAlumno.telefono" [formControlName]="'validaTelefono'" >
                <mat-hint style="color: red" *ngIf="formsActualizaCrud.controls['validaTelefono'].touched">
                    <span *ngIf="formsActualizaCrud.controls['validaTelefono'].hasError('required')">
                        El teléfono es requerido
                    </span>
                    <span *ngIf="formsActualizaCrud.controls['validaTelefono'].hasError('pattern')">
                        El teléfono debe tener 9 dígitos y comenzar con 9
                    </span>
                    <span *ngIf="formsActualizaCrud.controls['validaTelefono'].hasError('TelefonoExistente')">
                        La teléfono ya existe.
                      </span>
                         </mat-hint>
            </mat-form-field>

            <mat-form-field class="col-md-4">
                <mat-label>Celular</mat-label>
                <input matInput [(ngModel)]="objAlumno.celular" [formControlName]="'validaCelular'">
                <mat-hint style="color: red" *ngIf="formsActualizaCrud.controls['validaCelular'].touched">
                    <span *ngIf="formsActualizaCrud.controls['validaCelular'].hasError('required')">
                        El celular es requerido
                    </span>
                    <span *ngIf="formsActualizaCrud.controls['validaCelular'].hasError('pattern')">
                        El celular no es válido.
                    </span>
                         </mat-hint>
            </mat-form-field>

            <mat-form-field class="col-md-4" >
                <mat-label>DNI</mat-label>
                <input matInput [(ngModel)]="objAlumno.dni" [formControlName]="'validaDni'" >
                <mat-hint style="color: red" *ngIf="formsActualizaCrud.controls['validaDni'].touched">
                    <span *ngIf="formsActualizaCrud.controls['validaDni'].hasError('required')">
                        El dni es requerido
                    </span>
                    <span *ngIf="formsActualizaCrud.controls['validaDni'].hasError('pattern')">
                        El Dni no es válido.
                    </span>
                    <span *ngIf="formsActualizaCrud.controls['validaDni'].hasError('DniExistente')">
                        La Dni ya existe.
                      </span>
                         </mat-hint>
            </mat-form-field>
        </div>


        <div class="row" style="margin-top: 3%">

            <mat-form-field class="col-md-4">
                <mat-label>Correo</mat-label>
                <input matInput [(ngModel)]="objAlumno.correo" [formControlName]="'validaCorreo'">
                <mat-hint style="color: red" *ngIf="formsActualizaCrud.controls['validaCorreo'].touched">
                    <span *ngIf="formsActualizaCrud.controls['validaCorreo'].hasError('required')">
                        El correo es requerido
                    </span>
                    <span *ngIf="formsActualizaCrud.controls['validaCorreo'].hasError('pattern')">
                        El correo no es válido.
                    </span>
                         </mat-hint>
            </mat-form-field>

            <mat-form-field class="col-md-4">
                <mat-label>Tipo de Sangre</mat-label>
                <mat-select [(ngModel)]="objAlumno.tipoSangre" [formControlName]="'validaTipoSangre'">
                    <mat-option value="A+">A positivo (A +)</mat-option>
                    <mat-option value="A-">A negativo (A-)</mat-option>
                    <mat-option value="B+">B positivo (B +)</mat-option>
                    <mat-option value="B-">B negativo (B-)</mat-option>
                    <mat-option value="AB+">AB positivo (AB+)</mat-option>
                    <mat-option value="AB-">AB negativo (AB-)</mat-option>
                    <mat-option value="O+">O positivo (O+)</mat-option>
                    <mat-option value="O-">O negativo (O-)</mat-option>
                </mat-select>
                <mat-hint style="color: red" *ngIf="formsActualizaCrud.controls['validaTipoSangre'].touched">
                    <span *ngIf="formsActualizaCrud.controls['validaTipoSangre'].hasError('required')">
                        El Tipo de Sangre es requerido
                    </span>
                </mat-hint>
            </mat-form-field>

            <mat-form-field class="col-md-4">

                <mat-label>País</mat-label>
                <mat-select [(ngModel)]="objAlumno.pais!.idPais" [formControlName]="'validaPais'">
                    <mat-option value="-1"> [Seleccione] </mat-option>
                    <mat-option *ngFor="let pais of ltsPais" [value]="pais.idPais">
                        {{pais.nombre}}
                    </mat-option>
                </mat-select>
                <mat-hint style="color: red" *ngIf="formsActualizaCrud.controls['validaPais'].touched">
                    <span *ngIf="formsActualizaCrud.controls['validaPais'].hasError('min')">
                        El País es requerido
                    </span>
                </mat-hint>
            </mat-form-field>
        </div>
        <div class="row" style="margin-top: 3%">

            <mat-form-field class="col-md-4">
                <mat-label>Modalidad</mat-label>
                <mat-select [(ngModel)]="objAlumno.modalidad!.idDataCatalogo" [formControlName]="'validaModalidad'">
                    <mat-option value="-1"> [Seleccione] </mat-option>
                    <mat-option *ngFor="let modalidad of ltsModalidad" [value]="modalidad.idDataCatalogo">
                        {{modalidad.descripcion}}
                    </mat-option>
                </mat-select>
                <mat-hint style="color: red" *ngIf="formsActualizaCrud.controls['validaModalidad'].touched">
                    <span *ngIf="formsActualizaCrud.controls['validaModalidad'].hasError('min')">
                        La modalidad es requerida
                    </span>
                </mat-hint>
            </mat-form-field>

        </div>

        <div  mat-dialog-actions align="center">
            <button mat-raised-button 
            type="submit" 
            (click)="actualizar()"
            color="primary" 
            [mat-dialog-close]="1"
            [disabled]="!hasChanges() || formsActualizaCrud.invalid">
            Actualiza
            </button>
    
            <button mat-button 
            color="primary" (click)="cerrarDialogo()">
                Salir
            </button>
        </div>
    </form>
</div>
