<div class="main-container">
    <app-menu></app-menu>
    <div class="content">
        <div class="container">
            <mat-horizontal-stepper [linear]="true" #stepper>
                
                <!-- Paso 1: Datos del propietario -->
                <mat-step [stepControl]="formRegistra" optional="true">
                    <form [formGroup]="formRegistra">
                        <div class="row">
                            <mat-toolbar>
                                <h2>Datos del propietario</h2>
                            </mat-toolbar>
                        </div>
                
                        <div class="col-md-20" style="margin: 0 5%;">

                            <div class="row">
                                <div class="inputContent">
                                    <h5>1. Tipo de Usuario: </h5>
                                    <mat-form-field class="col-md-7 center" style="margin: auto;">
                                        <mat-label>Tipo de  Usuario:</mat-label>
                                        <mat-select formControlName="validaTipoUsuario"   [(ngModel)]="varIdTipoUsuario" >
                                            <mat-option value="-1"> [Todos] </mat-option>
                                        <mat-option *ngFor="let x of lstTipoUsuario" [value]="x.nombre">
                                            {{x.nombre}}
                                            </mat-option> 
                                        </mat-select> 


                                    <!--VALIDACION - CAPTURA DE DATOS-->
                                    <mat-hint style="color: red" *ngIf="formRegistra.controls.validaTipoUsuario.touched">
                                        <span *ngIf="formRegistra.controls.validaTipoUsuario.hasError('min')">
                                            El tipo de Usuario es requerido
                                        </span>
                                    </mat-hint>
                
                                    </mat-form-field>
                                </div>
                            </div>

                            <div class="row">
                                <div class="inputContent">
                                    <h5>2. DNI/Documento:</h5>
                                    <mat-form-field class="col-md-6">
                                        <mat-label>Ingrese el número de documento</mat-label>
                                        <input matInput [(ngModel)]="varDni" formControlName="validaDni">
                                        <mat-hint style="color: red" *ngIf="formRegistra.controls.validaDni.touched">
                                            <!-- Validaciones -->
                                        </mat-hint>
                                    </mat-form-field>
                                    <button mat-raised-button type="button" color="primary" (click)="buscarPorDni()">Buscar</button>
                                </div>
                            </div>
                            <!-- Otros campos del propietario -->
                            <!-- <div class="row">
                                <div class="inputContent">
                                    <h5>3. Telefono: </h5>
                                    <mat-form-field class="col-md-9">
                                        <input matInput formControlName="telefono" [disabled]="!habilitarRegistrar">
                                    </mat-form-field>
                                </div>
                            </div> -->
                            <div class="row">
                                <div class="inputContent">
                                    <h5>3. Nombres: </h5>
                                    <mat-form-field class="col-md-9">
                                        <input matInput formControlName="nombres" [disabled]="!habilitarRegistrar">
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="row">
                                <div class="inputContent">
                                    <h5>4. Apellidos: </h5>
                                    <mat-form-field class="col-md-9">
                                        <input matInput formControlName="apellidos" [disabled]="!habilitarRegistrar">
                                    </mat-form-field>
                                </div>
                            </div>
                        </div>
                        <div class="row btnEnd">
                            <button mat-raised-button color="primary" (click)="stepper.next()">Siguiente <mat-icon>arrow_forward</mat-icon></button>
                        </div>
                    </form>
                </mat-step>


                <!-- Paso 2: Datos del vehículo (incluye Espacio asignado) -->
                        <mat-step [stepControl]="formRegistra" optional="true">
                            <form [formGroup]="formRegistra">
                            <div class="row">
                                <mat-toolbar>
                                <h2>Datos del vehículo</h2>
                                </mat-toolbar>
                            </div>
                        
                            <div class="col-md-20" style="margin: 0 5%;">

                                    <!-- Campos del vehículo -->
                                <div class="row" style="margin: auto; font-size: 16px;">
                                    <div class="inputContent col-md-10" style="display: flex; align-items: center; justify-content: center;">
                                    <div class="form-check col-md-10" style="margin-left: 100%;">
                                        <input type="checkbox" class="form-check-input" id="idEstado" name="estado" formControlName="requiereEstacionamientoDiscapacitado">
                                        <label class="form-check-label" for="idEstado">¿Requiere estacionamiento para discapacitado?</label>
                                    </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="inputContent">
                                        <h5>5. Vehículo: </h5>
                                        <mat-form-field class="col-md-5 center" style="margin: auto;">
                                            <mat-label>Tipo vehículo</mat-label>
                                            <mat-select formControlName="validaTipoVehiculo">
                                                <mat-option value="-1">[Seleccione el tipo de vehículo]</mat-option>
                                                <mat-option value="4 ruedas">Auto, camioneta, (4 ruedas)</mat-option>
                                                <mat-option value="Motocicleta">Motocicleta </mat-option>
                                            </mat-select>
                                            <mat-hint style="color: red" *ngIf="formRegistra.controls.validaTipoVehiculo.touched">
                                                <span *ngIf="formRegistra.controls.validaTipoVehiculo.hasError('min')">
                                                    El tipo de vehículo es requerido
                                                </span>
                                            </mat-hint>
                                        </mat-form-field>
                                
                                        <mat-form-field class="col-md-5">
                                            <mat-label>Ingrese la placa del vehículo</mat-label>
                                            <input matInput formControlName="validaPlaca">
                                        </mat-form-field>
                                    </div>
                                
                                    <!-- Cantidad de personas y espacio asignado lado a lado -->
                                    <div class="row" >
                                        <div class="inputContent">
                                            <h5>6. Cant. de Personas: </h5>
                                            <mat-form-field class="col-md-6" style="margin-left: 7%;">
                                                <input matInput  type="number" value="0" [min]="0" [max]="50">
                                            </mat-form-field>
                                    
                                
                                        <!-- Campo deshabilitado para Espacio asignado -->
                                        <h5>7. Parkeo: </h5>
                                            <mat-form-field class="col-md-5 ">
                                                <input matInput [value]="espacioSeleccionado" formControlName="espacioAsignado"   [disabled]="!habilitarRegistrar">
                                            </mat-form-field>
                                        </div>
                                    </div>
                                </div>
                                
                                
    
                                <!-- Espacios de estacionamiento gráfico -->
                                <div class="row">

                                <div class="parking-layout">
                                    <div class="parking-section">
                                    <h5>PISO 1</h5>
                                    <div class="parking-spaces">
                                        <button *ngFor="let espacio of espaciosSS"
                                                (click)="seleccionarEspacio(espacio)"
                                                [ngClass]="{'selected': espacio === espacioSeleccionado}">
                                        {{ espacio }}
                                        </button>
                                    </div>
                                    </div>
                        
                                    <div class="parking-section">
                                    <h5>SOTANO</h5>
                                    <div class="parking-spaces">
                                        <button *ngFor="let espacio of espaciosS1"
                                                (click)="seleccionarEspacio(espacio)"
                                                [ngClass]="{'selected': espacio === espacioSeleccionado}">
                                        {{ espacio }}
                                        </button>
                                    </div>
                                    </div>

                                    
                                    <div class="parking-section">
                                        <h5>ENTRADA PRINCIPAL</h5>
                                        <div class="parking-spaces">
                                            <button *ngFor="let espacio of espaciosEP"
                                                    (click)="seleccionarEspacio(espacio)"
                                                    [ngClass]="{'selected': espacio === espacioSeleccionado}">
                                            {{ espacio }}
                                            </button>
                                        </div>
                                        </div>

                                </div>
                                </div>
                            </div>
                        
                            <div class="row btnEnd">
                                <button mat-raised-button color="primary" (click)="stepper.previous()">Atrás</button>
                                <button mat-raised-button color="primary" (click)="stepper.next()">Siguiente <mat-icon>arrow_forward</mat-icon></button>
                            </div>
                            </form>
                        </mat-step>
  

                        <mat-step [stepControl]="formRegistra" optional="true">
                        <div class="row">
                            <mat-toolbar>
                            <h2>Datos del Registro</h2>
                            </mat-toolbar>
                        </div>

                        <br>

                        <div class="row">
                            <!-- Columna de Propietario -->
                            <div class="col-md-6">
                                <div class="section-header">
                                    <h4>PROPIETARIO:</h4>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <p><strong>1. Tipo de usuario:</strong> {{ formRegistra.value.validaTipoUsuario}}</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <p><strong>2. DNI/Documento:</strong> {{ formRegistra.value.validaDni }}</p>
                                    </div>
                                </div>
                                <!-- <div class="row">
                                    <div class="col-md-12">
                                        <p><strong>3. Teléfono:</strong> {{ formRegistra.value.nombres }}</p>
                                    </div>
                                </div> -->
                                <div class="row">
                                    <div class="col-md-12">
                                        <p><strong>3. Nombres:</strong> {{ formRegistra.value.nombres }}</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <p><strong>4. Apellidos:</strong> {{ formRegistra.value.apellidos }}</p>
                                    </div>
                                </div>
                            </div>
                        
                            <!-- Columna de Vehículo -->
                            <div class="col-md-6">
                                <div class="section-header">
                                    <h4>VEHÍCULO:</h4>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <p><strong>1. Tipo de vehículo:</strong> {{ formRegistra.value.validaTipoVehiculo }}</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <p><strong>2. Placa:</strong> {{ formRegistra.value.validaPlaca }}</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <p><strong>3. Espacio asignado:</strong> {{ espacioSeleccionado }}</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <p><strong>4. Ingreso:</strong> {{ formattedDate }}</p>
                                    </div>
                                </div>
                            
                            </div>
                        </div>
                        
                        <div class="row btnEnd" style="justify-content: center;">
                            <button mat-raised-button color="primary" (click)="stepper.previous()">Atrás</button>
                            <button mat-raised-button color="primary" (click)="guardarDatos()" style="margin-left: 10px;">Guardar</button>
                        </div>
                        
                    </mat-step>
            </mat-horizontal-stepper>
        </div>
    </div>
</div>
