<app-menu></app-menu>
<div class="container">

        <div class="row">
              <mat-toolbar color="primary" >    
              <span>Consulta Sala</span>    
              </mat-toolbar>  
        </div>
        <div  class="row"  style="margin-top: 3%">
                <mat-form-field class="col-md-5">
                    <mat-label>Número de sala</mat-label>
                    <input  matInput  [(ngModel)]="varNumero"  >
                </mat-form-field>
                <mat-form-field class="col-md-5">
                    <mat-label>Piso</mat-label>
                    <input  matInput   [(ngModel)]="varPisoInput" >
                </mat-form-field>
                <div class="col-md-2" style="display: flex; align-items: center; justify-content: center">
                    <div class="custom-control custom-switch">
                        <input type="checkbox" class="custom-control-input" 
                                id="idEstado" name="estado"    [(ngModel)]="varEstado"/>         
                        <label class="custom-control-label" for="idEstado">Estado</label>
                    </div>   
                </div>
        </div>
        <div  class="row"  style="margin-top: 3%">
            <mat-form-field class="col-md-4">
                <mat-label>Número de Alumnos</mat-label>
                <input  matInput   [(ngModel)]="varNumAlumnosInput" >
            </mat-form-field>
            <mat-form-field class="col-md-4">
                <mat-label>Recursos</mat-label>
                <input  matInput   [(ngModel)]="varRecursos" >
            </mat-form-field>
            <mat-form-field class="col-md-4">
                <mat-label>Tipo de Sala</mat-label>
                <mat-select   [(ngModel)]="varIdTipoSala" >
                    <mat-option value="-1"> [Todos] </mat-option>
                    <mat-option *ngFor="let x of lstTipo" [value]="x.idDataCatalogo">
                        {{x.descripcion}}
                    </mat-option> 
                </mat-select> 
            </mat-form-field>
        </div>
        <div  class="row"  style="margin-top: 3%;">
            <mat-form-field class="col-md-6">
                <mat-label>Sede</mat-label>
                <mat-select    [(ngModel)]="varIdSede" >
                    <mat-option value="-1"> [Todos] </mat-option>
                    <mat-option *ngFor="let y of lstSede" [value]="y.idDataCatalogo">
                        {{y.descripcion}}
                    </mat-option> 
                </mat-select> 
            </mat-form-field> 
            <mat-form-field class="col-md-6">
                <mat-label>Estado de Reserva</mat-label>
                <mat-select    [(ngModel)]="varIdEstadoSala" >
                    <mat-option value="-1"> [Todos] </mat-option>
                    <mat-option *ngFor="let z of lstEstado" [value]="z.idDataCatalogo">
                        {{z.descripcion}}
                    </mat-option> 
                </mat-select> 
            </mat-form-field>
            
        </div>
        <div  class="row"  style="margin-top: 3%; display: flex; align-items: center; justify-content: center">
            <div class="col-md-2">   
                <button mat-raised-button type="button" color="primary" style="width: 100px;" (click)="filtrar()" >Filtrar</button>
            </div>    
            <div class="col-md-2">   
                <button mat-raised-button type="submit" color="warn" style="width: 100px;" (click)="exportarPDF()">PDF</button>
            </div>    
            <div class="col-md-21">   
                <button mat-raised-button type="submit" color="accent" style="width: 100px;" (click)="exportarExcel()">XLS</button>
            </div> 
        </div>

        <div  class="row"  style="margin-top: 3%">

            <mat-table #table class="mat-cell" [dataSource]="dataSource">
                    <ng-container matColumnDef="idSala">
                        <mat-header-cell mat-header-cell *matHeaderCellDef>Código</mat-header-cell>
                        <mat-cell *matCellDef="let aux">{{ aux.idSala }}</mat-cell>
                    </ng-container>
                    <ng-container matColumnDef="numero">
                        <mat-header-cell mat-header-cell *matHeaderCellDef>Número</mat-header-cell>
                        <mat-cell *matCellDef="let aux">{{ aux.numero }}</mat-cell>
                    </ng-container>
                    <ng-container matColumnDef="piso">
                        <mat-header-cell mat-header-cell *matHeaderCellDef>Piso</mat-header-cell>
                        <mat-cell *matCellDef="let aux">{{ aux.piso }}</mat-cell>
                    </ng-container>
                    <ng-container matColumnDef="numAlumnos">
                        <mat-header-cell mat-header-cell *matHeaderCellDef>Número de Alumnos</mat-header-cell>
                        <mat-cell *matCellDef="let aux">{{ aux.numAlumnos }}</mat-cell>
                    </ng-container>
                    <ng-container matColumnDef="recursos">
                        <mat-header-cell mat-header-cell *matHeaderCellDef>Recursos</mat-header-cell>
                        <mat-cell *matCellDef="let aux">{{ aux.recursos }}</mat-cell>
                    </ng-container>
                    <ng-container matColumnDef="tipoSala">
                        <mat-header-cell mat-header-cell *matHeaderCellDef>Tipo de Sala</mat-header-cell>
                        <mat-cell *matCellDef="let aux">{{ aux.tipoSala.descripcion }}</mat-cell>
                    </ng-container>
                    <ng-container matColumnDef="sede">
                        <mat-header-cell mat-header-cell *matHeaderCellDef>Sede</mat-header-cell>
                        <mat-cell *matCellDef="let aux">{{ aux.sede.descripcion }}</mat-cell>
                    </ng-container>
                    <ng-container matColumnDef="estadoReserva">
                        <mat-header-cell mat-header-cell *matHeaderCellDef>Estado de Reserva</mat-header-cell>
                        <mat-cell *matCellDef="let aux">{{ aux.estadoReserva.descripcion }}</mat-cell>
                    </ng-container>
                    <ng-container matColumnDef="estado">
                        <mat-header-cell mat-header-cell *matHeaderCellDef>Estado</mat-header-cell>
                        <mat-cell *matCellDef="let aux">{{ aux.estado == 1 ? "Activo" : "Inactivo" }}</mat-cell>
                    </ng-container>
        
                      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                      <mat-row *matRowDef="let aux; columns: displayedColumns"></mat-row>
                  </mat-table>
                  <mat-paginator [pageSizeOptions]="[6,8,10]" showFirstLastButtons></mat-paginator>
        
        
        </div>   
</div>