<head>
  <!-- Enlaces para cargar fuentes desde Google Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <!-- Carga de la fuente "Josefin Sans" -->
  <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap"
    rel="stylesheet">
</head>

<body>
  <!-- Contenedor principal -->
  <div class="main-container">
    <!-- Menú del sistema -->
    <app-menu></app-menu>

    <!-- Área de contenido -->
    <div class="content">
      <!-- Enlace de navegación para regresar -->
      <a href="#" class="volver-link">> VOLVER</a>

      <div class="contenido_gen">
        <!-- Encabezado principal con barra de herramientas -->
        <div class="row">
          <mat-toolbar>
            <span class="josefin-sans-title">MANTENIMIENTO DE PARQUEOS</span>
          </mat-toolbar>
        </div>

        <!-- ---------------------------------------teggggFormulario para registro de espacios de parqueo -->
        <div class="form-container" style="margin-top: 3%;">
          <!--<form [formGroup]="espacioParqueoForm" (ngSubmit)="onSubmit()">-->
          <form id="idFormModalidad" [formGroup]="formsRegistra">
            <div class="form-group" style="display: flex; flex-wrap: wrap; gap: 15px;">
              <!-- Campo de selección: Ubicación -->
              <mat-form-field class="col-md-4">
                <mat-label>Ubicacion:</mat-label>
                <mat-select [(ngModel)]="objParqueo.ubicacion!.idUbicacion" formControlName="validaUbicacion">
                  <mat-option value="-1"> [Seleccione] </mat-option>
                  <mat-option *ngFor="let x of lstUbicaciones" [value]="x.idUbicacion">
                    {{x.nombreUbicacion}}
                  </mat-option>
                </mat-select>
                <mat-hint style="color: red" *ngIf="formsRegistra.controls.validaUbicacion.touched">
                  <span *ngIf="formsRegistra.controls.validaUbicacion.hasError('min')">
                    El Ubicacion es requerido
                  </span>

                </mat-hint>

              </mat-form-field>

              <!-- Campo de selección: Tipo Parqueo -->
              <mat-form-field class="col-md-4">
                <mat-label>Tipo:</mat-label>
                <mat-select [(ngModel)]="objParqueo.tipoParqueo!.idTipoParqueo" formControlName="validaTipo">
                  <mat-option value="-1"> [Seleccione] </mat-option>
                  <mat-option *ngFor="let x of lstTipoParqueo" [value]="x.idTipoParqueo">
                    {{x.nombreTipoParqueo}}
                  </mat-option>
                </mat-select>
                <mat-hint style="color: red" *ngIf="formsRegistra.controls.validaTipo.touched">
                  <span *ngIf="formsRegistra.controls.validaTipo.hasError('min')">
                    El Tipo es requerido
                  </span>
                </mat-hint>
              </mat-form-field>

              <!-- Campo de selección: Estado -->
              <mat-form-field class="col-md-4">
                <mat-label>Estado:</mat-label>
                <mat-select [(ngModel)]="objParqueo.estadoEspacios!.idEstadoEspacios"
                  formControlName="validaEstadoEspacios">
                  <mat-option value="-1"> [Seleccione] </mat-option>
                  <mat-option *ngFor="let x of lstEstadoEspacios" [value]="x.idEstadoEspacios">
                    {{x.nombreEstadoEspacios}}
                  </mat-option>
                </mat-select>
                <mat-hint style="color: red" *ngIf="formsRegistra.controls.validaTipo.touched">
                  <span *ngIf="formsRegistra.controls.validaEstadoEspacios.hasError('min')">
                    El Estado de Espacios es requerido
                  </span>
                </mat-hint>
              </mat-form-field>


              <!-- Campo de selección: Vehículo -->
              <mat-form-field class="col-md-4">
                <mat-label>Vehiculo:</mat-label>
                <mat-select [(ngModel)]="objParqueo.tipoVehiculo!.idTipoVehiculo" formControlName="validaTipoVehiculo">
                  <mat-option value="-1"> [Seleccione] </mat-option>
                  <mat-option *ngFor="let x of lstTipoVehiculo" [value]="x.idTipoVehiculo">
                    {{x.nombreTipoVehiculo}}
                  </mat-option>
                </mat-select>
                <mat-hint style="color: red" *ngIf="formsRegistra.controls.validaTipoVehiculo.touched">
                  <span *ngIf="formsRegistra.controls.validaTipoVehiculo.hasError('min')">
                    El Vehiculo es requerido
                  </span>
                </mat-hint>
              </mat-form-field>
            </div>

            <!-- Botón para enviar el formulario -->
            <div style="margin-top: 15px; text-align: right;">
              <button class="reg_boton" mat-raised-button type="submit" [disabled]="formsRegistra.invalid"
                (click)="registra()" color="primary">Registra</button>
            </div>
          </form>
        </div>

        <!-----------------------------------------LEYENDA-->

        <div class="leyenda">
          <p><span class="color-circle" style="background-color: #2BA555;"></span> <span>Gerencia</span></p>
          <p><span class="color-circle" style="background-color: grey;"></span> <span>General</span></p>
          <p><span class="color-circle" style="background-color: #15395A;"></span> <span>Discapacitado</span></p>
        </div>
        
     
        
        

        <!---------------------------LISTADO--- Tabla de listado con filtro -->

        <div class="parqueos-list">
          <!-- Iteramos sobre las ubicaciones -->
          <div *ngFor="let ubicacion of lstUbicaciones" class="ubicacion-group">
            <div class="ubicacion-header">
              <h3>{{ ubicacion.nombreUbicacion }}</h3>
            </div>

            <!-- Asegúrate de que idUbicacion no sea undefined antes de acceder al objeto -->
            <div class="bloques_cont" *ngIf="ubicacion.idUbicacion !== undefined">
              <div *ngFor="let parqueo of parqueosPorUbicacion[ubicacion.idUbicacion]" class="parqueo-card">
                <button mat-raised-button 
                        [ngStyle]="{
                          'background-color': getColor(parqueo.tipoParqueo?.nombreTipoParqueo ?? 'defaultColor'),
                          'color': 'white'
                        }">
                  {{ parqueo.idParqueos }}
                </button>
              </div>
            </div>
            
          </div>
        </div>



        <!-- ------------------------------Fin listado -->

      </div>
    </div>
  </div>
</body>