<div class="container">
  <form id="idFormAutor" [formGroup]="formsActualiza">
  <div class="mat-dialog-content" id="idFormModalidad">
      <div class="row">
          <mat-toolbar color="primary">
              <span>Actualizar Autor</span>
          </mat-toolbar>
      </div>
      <!--VALIDACIONES-->
      <div class="row" style="margin-top: 3%;margin-bottom: 3%;">
        <mat-form-field class="col-md-4">
          <mat-label>Nombres</mat-label>
          <input matInput [(ngModel)]="objAutor.nombres" formControlName="validaNombres">
          <mat-hint style="color: red" *ngIf="formsActualiza.controls.validaNombres.touched">
            <span *ngIf="formsActualiza.controls.validaNombres.hasError('required')">
              Los nombres son requeridos
            </span>
            <span *ngIf="formsActualiza.controls.validaNombres.hasError('pattern')">
              Los nombres son de 4 a 40 carácteres y sin espacios al inicio o al final
            </span>
          </mat-hint>
        </mat-form-field>

        <mat-form-field class="col-md-4">
          <mat-label>Apellidos</mat-label>
          <input matInput [(ngModel)]="objAutor.apellidos" formControlName="validaApellidos">
          <mat-hint style="color: red" *ngIf="formsActualiza.controls.validaApellidos.touched">
            <span *ngIf="formsActualiza.controls.validaApellidos.hasError('required')">
              Los apellidos son requeridos
            </span>
            <span *ngIf="formsActualiza.controls.validaApellidos.hasError('pattern')">
              Los apellidos son de 4 a 40 carácteres y sin espacios al inicio o al final
            </span>
          </mat-hint>
        </mat-form-field>

        <mat-form-field class="col-md-4">
          <mat-label>Fecha de Nacimiento</mat-label>

          <input matInput [matDatepicker]="picker" [(ngModel)]="objAutor.fechaNacimiento" formControlName="validaFecha">
          <mat-hint style="color: red" *ngIf="formsActualiza.controls.validaFecha.touched">
            <span *ngIf="formsActualiza.controls.validaFecha.hasError('required')">
              - La fecha de nacimiento es requerida
          </span>
          <br>
          <span *ngIf="formsActualiza.controls.validaFecha.hasError('mayorDeEdad')">- Debe ser mayor de
              edad</span>

          </mat-hint>
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
      </div>

      <!--L-->

      <div class="row">
        <mat-form-field class="col-md-4">
          <mat-label>Teléfono: Ej. 800000000</mat-label>
          <input matInput [(ngModel)]="objAutor.telefono" formControlName="validaTelefono">
          <mat-hint style="color: red" *ngIf="formsActualiza.controls.validaTelefono.touched">
            <span *ngIf="formsActualiza.controls.validaTelefono.hasError('required')">
              El teléfono es requerido
            </span>
            <span *ngIf="formsActualiza.controls.validaTelefono.hasError('pattern')">
              El teléfono es de 9 dígitos numéricos, debe comenzar con 8
            </span>
            <!--<span *ngIf="formsActualiza.controls.validaTelefono.hasError('telefonoRepetido')">
              El teléfono ya existe
              </span>-->
          </mat-hint>
        </mat-form-field>

        <mat-form-field class="col-md-4">
          <mat-label>Celular</mat-label>
          <input matInput [(ngModel)]="objAutor.celular" formControlName="validaCelular">
          <mat-hint style="color: red" *ngIf="formsActualiza.controls.validaCelular.touched">
            <span *ngIf="formsActualiza.controls.validaCelular.hasError('required')">
              El celular es requerido
            </span>
            <span *ngIf="formsActualiza.controls.validaCelular.hasError('pattern')">
              El celular es de 9 dígitos
            </span>
          </mat-hint>
        </mat-form-field>

        <mat-form-field class="col-md-4">
          <mat-label>Orcid: Ej. 0000-0000-0000-0000</mat-label>
          <input matInput [(ngModel)]="objAutor.orcid" formControlName="validaOrcid">
          <mat-hint style="color: red" *ngIf="formsActualiza.controls.validaOrcid.touched">
            <span *ngIf="formsActualiza.controls.validaOrcid.hasError('required')">
              El orcid es requerido
            </span>
            <span *ngIf="formsActualiza.controls.validaOrcid.hasError('pattern')">
              El orcid es de 16 dígitos, recuerde seguir el formato
            </span>
          </mat-hint>
        </mat-form-field>
      </div>
      <!---->
      <!--CBOS VALIDADOS-->
      <div class="row" style="margin-top: 3%">
        <mat-form-field class="col-md-4">
          <mat-label>País</mat-label>
          <mat-select [(ngModel)]="objAutor.pais!.idPais" formControlName="validaPais">
            <mat-option value="-1"> [Seleccione] </mat-option>
            <mat-option *ngFor="let x of lstPais" [value]="x.idPais">
              {{x.nombre}}
            </mat-option>
          </mat-select>
          <mat-hint style="color: red" *ngIf="formsActualiza.controls.validaPais.touched">
            <span *ngIf="formsActualiza.controls.validaPais.hasError('min')">
              El país es requerido
            </span>

          </mat-hint>

        </mat-form-field>
        <!--grado-->

        <mat-form-field class="col-md-4">
          <mat-label>Grado</mat-label>
          <mat-select [(ngModel)]="objAutor.grado!.idDataCatalogo" formControlName="validaGrado">
            <mat-option value="-1"> [Seleccione] </mat-option>
            <mat-option *ngFor="let x of lstGrado" [value]="x.idDataCatalogo">
              {{x.descripcion}}
            </mat-option>
          </mat-select>
          <mat-hint style="color: red" *ngIf="formsActualiza.controls.validaGrado.touched">
            <span *ngIf="formsActualiza.controls.validaGrado.hasError('min')">
              El grado es requerido
            </span>

          </mat-hint>
        </mat-form-field>
        <!---->
      </div>
      <div mat-dialog-actions>
        <button mat-raised-button 
        type="submit" 
        (click)="actualizar()"
        color="primary" 
        [mat-dialog-close]="1"
        [disabled]="formsActualiza.invalid">
  Actualizar
</button>

          <button mat-button color="primary">
              Salir
          </button>
      </div>
  </div>
</form>
</div>
