<app-menu></app-menu>
<div class="container">
        <!--FORMULARIO PARA INGRESO DE DATOS DE FILTRACIÓN-->
                <div class="row">
                        <mat-toolbar color="primary" >    
                        <span>Consultar Libro</span>    
                        </mat-toolbar>  
                </div>
                <div  class="row" style="margin-top: 3%;">
                        <mat-form-field class="col-md-10">
                                <mat-label>Título</mat-label>
                                <input  matInput [(ngModel)]="varTitulo" >
                        </mat-form-field>
                        <div class="col-md-2" style="display: flex; align-items: center; justify-content: center"> 
                                <div class="custom-control custom-switch"> 
                                    <input type="checkbox" class="custom-control-input"  
                                            id="idEstado" name="estado"   [(ngModel)]="varEstado"/>             
                                    <label class="custom-control-label" for="idEstado">Estado</label>            
                                </div>            
                        </div> 
                </div>
                <div  class="row">
                        <mat-form-field class="col-md-6">
                                <mat-label>Año</mat-label>
                                <input type="number"  matInput [(ngModel)]="varAnio">
                        </mat-form-field>
                        <mat-form-field class="col-md-6">
                                <mat-label>Serie</mat-label>
                                <input  matInput [(ngModel)]="varSerie">
                        </mat-form-field>
                </div>
                <div  class="row">
                        <mat-form-field class="col-md-6">
                                <mat-label>Fecha de registro [Desde]</mat-label>
                                <input matInput [matDatepicker]="picker1"  [(ngModel)]="varFechaRegDesde" >
                                <mat-datepicker-toggle matIconSuffix [for]="picker1"></mat-datepicker-toggle> 
                                <mat-datepicker #picker1></mat-datepicker> 
                        </mat-form-field>
                        <mat-form-field class="col-md-6">
                                <mat-label>Fecha de registro [Hasta]</mat-label>
                                <input  matInput  [matDatepicker]="picker2"   [(ngModel)]="varFechaRegHasta">
                                <mat-datepicker-toggle matIconSuffix [for]="picker2"></mat-datepicker-toggle> 
                                <mat-datepicker #picker2></mat-datepicker> 
                        </mat-form-field>
                </div>
                <div  class="row">
                        <mat-form-field class="col-md-6">
                                <mat-label>Categoria</mat-label>
                                <mat-select [(ngModel)]="varIdCategoria">
                                        <mat-option value="-1"> [Seleccione] </mat-option>
                                        <mat-option  *ngFor="let c of listaCategoria"  [value]="c.idDataCatalogo">
                                                {{c.descripcion}}
                                        </mat-option>   
                                </mat-select> 
                        </mat-form-field>
                        <mat-form-field class="col-md-6">
                                <mat-label>Estado del préstamo</mat-label>
                                <mat-select [(ngModel)]="varIdEstadoPrestamo">
                                        <mat-option value="-1"> [Seleccione] </mat-option>
                                        <mat-option  *ngFor="let x of listaEstadoPrestamo"  [value]="x.idDataCatalogo">
                                                {{x.descripcion}}
                                        </mat-option>   
                                </mat-select> 
                        </mat-form-field>
                </div>
                <div class="row">
                        <mat-form-field class="col-md-6">
                                <mat-label>Tipo</mat-label>
                                <mat-select [(ngModel)]="varIdTipo">
                                        <mat-option value="-1"> [Seleccione] </mat-option>
                                        <mat-option  *ngFor="let t of listaTipo" [value]="t.idDataCatalogo">
                                                {{t.descripcion}}
                                        </mat-option>   
                                </mat-select> 
                        </mat-form-field> 
                        <mat-form-field class="col-md-6">
                                <mat-label>Editorial</mat-label>
                                <mat-select [(ngModel)]="varIdEditorial">
                                        <mat-option value="-1"> [Seleccione] </mat-option>
                                        <mat-option  *ngFor="let e of listaEditorial" [value]="e.idEditorial">
                                                {{e.razonSocial}}
                                        </mat-option>   
                                </mat-select> 
                        </mat-form-field>
                </div>
                <!--BOTONES-->
                <div  class="row"  style="margin-top: 3%; display: flex; align-items: center; justify-content: center"> 
                        <div class="col-md-2">                
                            <button mat-raised-button type="button" color="primary" style="width: 100px;"  (click)="filtrar()">Filtrar</button>             
                        </div>     
                        <div class="col-md-2">                
                            <button mat-raised-button type="submit" color="warn" style="width: 100px;" (click)="exportarPDF()">PDF</button>           
                        </div>     
                        <div class="col-md-21">                
                            <button mat-raised-button type="submit" color="accent" style="width: 100px;" (click)="exportarExcel()">XLS</button>           
                        </div>  
                    </div>

        <!--GRILLA-->
        <div  class="row"  style="margin-top: 3%">
                <mat-table #table class="mat-cell" [dataSource]="dataSource">
                    <ng-container matColumnDef="idLibro">
                        <mat-header-cell mat-header-cell *matHeaderCellDef>Código</mat-header-cell>
                        <mat-cell *matCellDef="let aux">{{ aux.idLibro }}</mat-cell>
                    </ng-container> 
                    <ng-container matColumnDef="titulo">
                        <mat-header-cell mat-header-cell *matHeaderCellDef>Título</mat-header-cell>
                        <mat-cell *matCellDef="let aux">{{ aux.titulo }}</mat-cell>
                    </ng-container>
                    <ng-container matColumnDef="anio">
                        <mat-header-cell mat-header-cell *matHeaderCellDef>Año</mat-header-cell>
                        <mat-cell *matCellDef="let aux">{{ aux.anio }}</mat-cell>
                    </ng-container>
                    <ng-container matColumnDef="serie">
                        <mat-header-cell mat-header-cell *matHeaderCellDef>Serie</mat-header-cell>
                        <mat-cell *matCellDef="let aux">{{ aux.serie }}</mat-cell>
                    </ng-container>
                    <ng-container matColumnDef="categoriaLibro">
                        <mat-header-cell mat-header-cell *matHeaderCellDef>Categoría</mat-header-cell>
                        <mat-cell *matCellDef="let aux">{{ aux.categoriaLibro.descripcion }}</mat-cell>
                    </ng-container>
                    <ng-container matColumnDef="tipoLibro">
                        <mat-header-cell mat-header-cell *matHeaderCellDef>Tipo</mat-header-cell>
                        <mat-cell *matCellDef="let aux">{{ aux.tipoLibro.descripcion }}</mat-cell>
                    </ng-container>
                    <ng-container matColumnDef="editorial">
                        <mat-header-cell mat-header-cell *matHeaderCellDef>Editorial</mat-header-cell>
                        <mat-cell *matCellDef="let aux">{{ aux.editorial.razonSocial }}</mat-cell>
                    </ng-container>
                    <ng-container matColumnDef="estadoPrestamo">
                        <mat-header-cell mat-header-cell *matHeaderCellDef>Estado de préstamo</mat-header-cell>
                        <mat-cell *matCellDef="let aux">{{ aux.estadoPrestamo.descripcion}}</mat-cell>
                    </ng-container>
                    <ng-container matColumnDef="estado">
                        <mat-header-cell mat-header-cell *matHeaderCellDef>Estado</mat-header-cell>
                        <mat-cell *matCellDef="let aux">{{ aux.estado == 1 ? "Activo" : "Inactivo" }}</mat-cell>
                    </ng-container>
        

                       <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                       <mat-row *matRowDef="let aux; columns: displayedColumns"></mat-row>
                </mat-table>


                <mat-paginator [pageSizeOptions]="[6,8,10]" showFirstLastButtons></mat-paginator>
            </div>

        
</div>